<%- include('header') %>
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="login.css">
<body>
<div class="login-box">
    <h2>Editing <%= title %> Route</h2>
    <form method="post" action="/editroute" autocomplete="off">
        <div class="user-box" style="display: none;">
            <input  type="text" name="_id" value=<%= id %> >
        </div>
      <div class="user-box">
        <input type="text" name="routeno" required="true">
        <label>Route No</label>
      </div>
      <div class="user-box">
        <input type="text" name="startingpoint" required="true">
        <label>Starting Point</label>
      </div>
      <div class="user-box">
        <input type="text" name="boardingpoints" required="true">
        <label>Boarding Points</label>
      </div>
     <button type="submit" name="action" name="submit" >  submit 
      <span></span>
      <span></span>
      <span></span>
      <span></span>
     </button>
    </form>
   
  </div>
</body>
</html>